@import url("./Css/FontCss.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  width: 100%;
  min-height: 100vh;
  background: #000;
  color: #fff;
}
/* Barba Js */

.cover {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transform: translateY(0);
  z-index: 100;
  background: transparent;
}

.cover span {
  width: 100%;
  height: 100%;
  background: #df2b2f;
}
/* Barba Js ENd */

#main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}
#js-scroll {
  position: relative;
  width: 100%;
}

/* PRE LOADER */
#preLoader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: red;
}

#preLoader .l-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em 2em;
  overflow: hidden;
}
#preLoader .l-red-backgrond {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  left: 0;
  background: rgb(255, 255, 255);
}
#preLoader .l-loader .l-logo img {
  width: 100px;
  object-fit: cover;
}

#preLoader .l-loader .l-content {
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#preLoader .l-loader .l-line {
  width: 100%;
  height: 1px;
  background: #fff;
}

#preLoader .l-loader .l-text-content {
  text-align: left;
  height: 0;
  overflow: hidden;
}

#preLoader .l-loader .l-text-content h1 {
  font-size: 10em;
  transform: translateY(100%);
  line-height: 100%;
  font-family: Canopee Regular;
}

#preLoader .l-loader .l-progress {
  width: 50px;
  height: 50px;
  filter: invert(100%);
}
/* PRE LOADER END */
/* ********* HERO SECTION *********** */

#Hero {
  width: 100%;
  min-height: 100vh;
  background: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ********* THREE MODEL SECTION *********** */

#Three-model {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  background: rgb(22, 17, 17);
}
